<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hucode.study.dao.mapper.UserMapper">

    <!-- 开启基于redis的二级缓存 -->
    <cache type="com.hucode.study.util.RedisCache"/>

    <select id="select" resultType="User">
        SELECT * FROM test_user WHERE id = #{id} LIMIT 1
    </select>

    <update id="update" parameterType="User" flushCache="true">
        UPDATE test_user SET phone = #{phone}, email = #{email} WHERE id = #{id} LIMIT 1
    </update>
</mapper>